@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.S-Card{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.Shop{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1c1c1c;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    list-style: none;
}
.title{
    font-size: 30px;
}
.U-Title{
    background-color: whitesmoke;
    color: #1c1c1c;
    padding: 4.5px 8px;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    width: -moz-fit-content;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 1px;
}
image{
    width: 50%;
}
span{
    font-size: 10px;
    padding-bottom: 70px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
    width: 30vh;
}
a{
    height: 20px;
    width: 40px;
}
.Red{
    color: whitesmoke;
    background-color: red;
    border-radius: 50%;
}
.Bleu{
    color: whitesmoke;
    background-color: rgb(38, 0, 255);
    border-radius: 50%;
}
.Noir{
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
.bag{
    position: absolute;
    top: 5%;
    left: 95%;
}

button{
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    padding: 4.5px 8px;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    width: -moz-fit-content;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
